APP_NAME='Previos y Folios - Línea Italia'
APP_ENV=local
APP_KEY=base64:0uvMk0LLF/y8KnjBsoaSY9U+mM6gBegaxag+c7E25hU=
APP_DEBUG=true
APP_URL=http://folios.test
SESSION_DOMAIN=.127.0.0.1
SANCTUM_STATEFUL_DOMAINS=127.0.0.1:5173
FRONTEND_URL=http://127.0.0.1:5173

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=folios
DB_USERNAME=root
DB_PASSWORD=

COTIZADOR_DB_CONNECTION=mysql
COTIZADOR_DB_HOST=127.0.0.1
COTIZADOR_DB_PORT=3306
COTIZADOR_DB_DATABASE=li_cotizador
COTIZADOR_DB_USERNAME=root
COTIZADOR_DB_PASSWORD=

COTIZADOR_URL='http://back_cotizador.test'

CRM_DB_CONNECTION=mysql
CRM_DB_HOST=127.0.0.1
CRM_DB_PORT=3306
CRM_DB_DATABASE=crm_italia
CRM_DB_USERNAME=root
CRM_DB_PASSWORD=

# DB_CONNECTION=mysql
# DB_HOST=162.240.53.41
# DB_PORT=3306
# DB_DATABASE=pdistribuidores_sandboxfolios
# DB_USERNAME=pdistribuidores_folios
# DB_PASSWORD='Dn-Cq3t5Hli'

# COTIZADOR_DB_CONNECTION=mysql
# COTIZADOR_DB_HOST=162.240.53.41
# COTIZADOR_DB_PORT=3306
# COTIZADOR_DB_DATABASE=pdistribuidores_newcotizador
# COTIZADOR_DB_USERNAME=pdistribuidores_newcotizador
# COTIZADOR_DB_PASSWORD='wsL{,Qj8GV0Z'

# COTIZADOR_URL='https://cotizador-back.lineaitalia.mx'

# CRM_DB_CONNECTION=mysql
# CRM_DB_HOST=162.240.53.41
# CRM_DB_PORT=3306
# CRM_DB_DATABASE=pdistribuidores_crm
# CRM_DB_USERNAME=pdistribuidores_crm
# CRM_DB_PASSWORD=Veratti.12

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
